<div class="container">
  <h1>Pokedex</h1>
  <%= link_to "< Trainers", trainers_path  %>
  <% @pokemons.each do |pokemon| %>
    <%= link_to pokemon do  %>
      <h3><%= pokemon.name %></h3>
      <%= cl_image_tag pokemon.photo.key, alt: pokemon.name %>
    <% end %>
  <% end %>
</div>
