<div class="container">
  <%= link_to "< Trainers", trainers_path  %>
  <h2><%= @trainer.name %></h2>
  <p>Âge: <%= @trainer.age %></p>
  <%= cl_image_tag @trainer.photo.key, alt: @trainer.name %>
</div>
